manifest {
    description = 'Reproducing fair error'
    author = 'Jaume Banus'
    nextflowVersion = '>=23.03.0'
}

// Default pipeline parameters, can be overrriden in the command line or by the profile
trace.overwrite = true
report.overwrite = true
timeline.overwrite = true
dag.overwrite = true

// Execution profiles for different environments
profiles {
    slurm {        
        process.executor = 'slurm'
        workDir = '/home/ja1659/tmp_nextflow'
    }
}
